body {
  background-color: #d3d3d3 ;
  color: #2a2a2a;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

h1 {
  line-height: 1.25em;
  font-size: 1.7em;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  line-height: 1.25em;
  font-size: 1.3em;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 20px;
}

.author {
    padding-bottom: 10px;
    font-weight: bold;
}

p {
  font-size: 100%;
  line-height: 1.75em;
  padding: 10px 10px 10px 0px;
}

figcaption {
  line-height: 1.5em;
  font-size: .85em;
  font-style: italic;
  padding-top: 10px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 90%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}

a:link { color: #2a2a2a } /* unvisited */
a:visited { color: #2a2a2a } /* visited */
a:hover { color: #B2F2EC } /* mouse over */
a:hover { color: #B2F2EC } /* selected */
